<div class="container">
  <nav>
    <ul>
      <li *ngFor="let update of updates">
        <a
          (click)="selectVersion(update)"
          [ngClass]="{ active: update.version === selectedVersion?.version }"
          >{{ update.version }}</a
        >
      </li>
    </ul>
  </nav>
  <div class="details" *ngIf="selectedVersion">
    <h1>Version {{ selectedVersion.version }}</h1>
    <button *ngIf="selectedVersion.mandatory">Mandatory</button>
    <button>{{ selectedVersion.status }}</button>
    <p>
      <strong>Minimum Hardware Version:</strong
      ><span>{{ selectedVersion.minHardwareVersion }}</span>
    </p>
    <p>
      <strong>File name:</strong><span>{{ selectedVersion.fileName }}</span>
    </p>
    <p>
      <strong>Size:</strong><span>{{ selectedVersion.size }}</span>
    </p>
    <p>
      <strong>Comment:</strong>
    </p>
    <div class="details__comment" [innerHtml]="selectedVersion.comment"></div>
    <p>
      <strong>Download URL:</strong>
      <a href="{{ selectedVersion.downloadURL }}" target="_blank">
        {{ selectedVersion.downloadURL }}
      </a>
    </p>
    <p>
      <strong>Created:</strong><span>{{ selectedVersion.created }}</span>
    </p>
    <p>
      <strong>Updated:</strong><span>{{ selectedVersion.updated }}</span>
    </p>
  </div>
</div>
